PORT=3002
DATABASE_URL=postgresql://erp_user:erp_pass@localhost:5434/incident_db
AUTH_SERVICE_URL=http://localhost:3001
TRACKING_SERVICE_URL=http://localhost:3003
RABBITMQ_URL=amqp://erp_user:erp_pass@localhost:5672
JWT_SECRET=emergency_response_jwt_secret_2024
NODE_ENV=development
